@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide {
  animation: slideFromRight 1s ease-out;
}

@keyframes expand {
  0% {
    width: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  100% {
    width: 100%;
    left: 0;
    transform: translateX(0);
  }
}

.animate-expand {
  animation: expand 0.5s ease-out;
  transform-origin: center;
}